---
import ProjectLayout from "../../../layouts/ProjectLayout.astro";

const project = {
  title: "Robot Arm Pick and Place",
  img: "/robot_pick_place.gif",
  desc: "A robot arm programmed to pick and place static and moving blocks.",
  date: "December 2023",
  tags: ["Robotics"]
};
---

<ProjectLayout {...project}>
  <!-- Deep dive content -->
  <h2 class="text-2xl font-semibold mb-4">Deep Dive</h2>
  <p class="mb-4">
    In this project, we program a 7 DoF Franka Emika Panda robotic arm to perform pick and place tasks of static and moving blocks.
  </p>

  <h3 class="text-xl font-medium mb-2">Pipeline</h3>
  <p class="mb-4">
    We divide the robot behavior into three separate modules. The first one is responsible for detecting and selecting a block to pick.
    The second module performs the actual pick and place motions. The third module is responsible for detecting and selecting a 
    moving block.
  </p>
  <img src="/pick_place_pipeline.png"/>
  <figcaption class="text-sm text-gray-500 text-center">
    Robot pick and place pipeline
  </figcaption>

  <h3 class="text-xl font-medium mb-2">Module 1: Perception</h3>
  <p class="mb-4">
    We cover the cube with AprilTags on all six sides to enable accurate detection of cube position and orientation. Due to the 
    sensitivity of the camera image to different lighting conditions, the robot arm positions the camera at different angles to 
    ascertain the cube location.
  </p>
  <img src="/pick_place_cube.png"/>
  <figcaption class="text-sm text-gray-500 text-center">
    AprilTags on cube
  </figcaption>

  <h3 class="text-xl font-medium mb-2">Module 2: Pick and Place Motion</h3>
  <p class="mb-4">
    Once the location of the cube is known, the robot uses inverse kinematics to solve for the joint angle configuration required
    to reach the point right above the cube. Once there, it slowly descends and closes the gripper and moves the cube to the 
    stack.
  </p>

  <h3 class="text-xl font-medium mb-2">Module 3: Dynamic Block Perception</h3>
  <p class="mb-4">
    For the moving blocks, we initially planned on using the table rotation speed and the detected cube location to calculate where
    the robot should intercept the cube. However, we were not able to synchronize the timing of the inverse kinematics solver and 
    the robot arm motion with the intercept time. As such, we modified our approach to intercept the cube at a fixed location and 
    grab when the cube reaches the gripper.
  </p>

  <h3 class="text-xl font-medium mb-2">Final Result</h3>
  <p class="mb-4">
    In this real-world test, we stack a total of 5 cubes: 4 static and 1 dynamic.
  </p>
  <img src="/robot_pick_place_real.gif" class="mx-auto"/>
  <figcaption class="text-sm text-gray-500 text-center">
    Robot pick and place result
  </figcaption>

  <a href="https://github.com/ctl009/" class="btn btn-outline mt-6" target="_blank">
    View on GitHub
  </a>
</ProjectLayout>
