---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A recent Robotics Master’s graduate from University of Pennsylvania with extensive experience in manufacturing, automation, 
    and mechatronics whose interests lie in the intersection of automation, robotics, and AI.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University of Pennsylvania"
      subtitle="Master of Science in Engineering in Robotics, 2023-2025"
    />
    <TimeLineElement
      title="University of California, San Diego"
      subtitle="Bachelor of Science in Mechanical Engineering, 2014-2019"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Construction Robot (Saint-Gobain Certainteed)"
      subtitle="Master's Capstone Project from Sept 2024 to May 2025, Philadelphia, PA"
    >
      <ul class="list-disc pl-6">
        <li>Program a mobile robot that autonomously delivers blown insulation.</li>
        <li>Use RGBD and LiDAR sensor data to model and monitor insulation deposition.</li>
        <li>Develop image and point cloud filters for accurate robot perception.</li>
        <li>Devise state estimation and control feedback for precise insulation delivery.</li>
      </ul>
    <br />

    </TimeLineElement>
    <TimeLineElement
      title="Tesla"
      subtitle="Manufacturing Engineering Intern from May 2024 to Aug 2024, Austin, TX"
    >
      <ul class="list-disc pl-6">
        <li>Use machine learning techniques to determine optimal process parameters.</li>
        <li>Program KUKA industrial robot arms.</li>
        <li>Perform statistical analysis on automated equipment scrap data.</li>
        <li>Test various media in robotic edge rounding process to reduce media usage.</li>
      </ul>
    <br />

    </TimeLineElement>
    <TimeLineElement
      title="Applied Medical"
      subtitle="Process Engineer II/I from June 2019 to Nov 2022, Rancho Santa Margarita, CA"
    >
      <ul class="list-disc pl-6">
        <li>Design a semi-automated spot welding equipment (>50,000 parts/month).</li>
        <li>Determine optimal process parameters for automated gluing robot.</li>
        <li>Develop new grinding process that reduces cycle time by 40%.</li>
        <li>Save $300k/month by addressing a surgical blade manufacturing root cause.</li>
        <li>Implement certification process and equipment for improved inspection.</li>
      </ul>
    <br />

    </TimeLineElement>
    <TimeLineElement
      title="Boechler Lab"
      subtitle="Solid Mechanics Undergraduate Research from June 2018 to June 2019, San Diego, CA"
    >
      <ul class="list-disc pl-6">
        <li>Design spring-actuated and pneumatic impact machines.</li>
        <li>Optimize speed of impact while minimizing cost and structural stress.</li>
        <li>Develop remote-triggering mechatronic mechanism.</li>
        <li>Conduct impact experiments and capture data using slow-motion cameras.</li>
      </ul>
    <br />
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Machine Learning</li>
    <li>Python & Pytorch</li>
    <li>C/C++</li>
    <li>Robot Operating System</li>
    <li>Solidworks</li>
    <li>Mechatronics</li>
    <li>Arduino & Raspberry Pi</li>
    <li>MATLAB</li>
    <li>VHDL</li>
    <li>x86 Assembly</li>
    <li>Rapid Prototyping</li>
    <li>Finite Element Analysis</li>
  </ul>
</BaseLayout>
