---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there!</div>
    <div class="text-5xl font-bold">I'm Chris Lee</div>
    <div class="text-3xl py-3 font-bold">Robotics Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        This is my personal website where you can find my past projects!
        Click on the projects tab for more.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Highlighted Projects</div>
  </div>

  <HorizontalCard
    title="Construction Robot: Blown Insulation (Capstone)"
    img="/post_img.webp"
    desc="We developed a robot capable of delivering blown insulation autonomously."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Basketball Game Autozooming Bot"
    img="/bball_autozoom.gif"
    desc="A bot that automatically zooms in and out in a basketball game, focusing on the play."
    url="/projects/bball-autozoom"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Robot Arm Pick and Place"
    img="/robot_pick_place.gif"
    desc="A robot arm programmed to pick and place static and moving blocks."
    url="#"
  />
  <div class="divider my-0"></div>


</BaseLayout>
